**this file contains functions used to generate new schedules when add/remove routes**

1. get_trips_for_routes
2. filter_stoptimes_by_routes

In [48]:
import pandas as pd

In [3]:
def get_trips_for_routes(routes = [30,34,36]):
    ### GET TRIPS FOR CERTAIN ROUTES ###
    # para: routes in list (float number)
    # return: trip_id mapping with rotue numbers in dictionary
    
    trips_dict = dict() # A dictionary mapping routes with multiple trips
    
    # read trips.txt file, keep only 2 columns of routes_short_name and trip_id
    trips = (pd.read_csv(r"mmt_gtfs/trips.txt", sep = ",", engine = "python")
            [['route_short_name','trip_id']])
    
    # for each routes (30,34,36), select their trips and update into stop_dict
    for r in routes:
        trip_id = trips.loc[trips['route_short_name'] == r,:]
        tp = trip_id["trip_id"].tolist()
        
        trips_dict.update({r:tp})

    return(trips_dict)

In [54]:
def filter_stoptimes_by_routes(routes = [30.,34,36]):
    ### READ stop_times.txt, AND FIILTER WITH CERTIAN ROUTES ###
    # para: routes in a list
    # return: filtered stop_times in pd.dataframe
    # calling function: get_trips_for_routes
    
    # get trips into a list
    tr_dict = get_trips_for_routes(routes)
    
    tr_list = []
    for r,tr in tr_dict.items():
        tr_list += tr
    
    # read stoptimes.txt file
    stop_times = pd.read_csv(r"mmt_gtfs/stop_times.txt", sep = ",", engine = "python")
    # filter by trips under certain routes
    stop_times_filter = stop_times.loc[stop_times['trip_id'].isin(tr_list)].reset_index()

    # return filtered stop_times in dataframe    
    return stop_times_filter

In [33]:
def convert_time_to_sec(df = stop_times):
    ###Convert str arrival_time/departure_time to int seconds###
    # HH:MM:SS -> HH*60*60+MM*60+SS
    # para: stop_times (a standard GTFS stop_times file)(pd dataframe)
    # return: stop_times with two columns added on
    
    # split string time into hours, minutes, and seconds
    df[['ar_h','ar_m','ar_s']] = df.arrival_time.str.split(':',expand=True)
    df[['dp_h','dp_m','dp_s']] = df.departure_time.str.split(':',expand=True)

    # compute time into seconds
    df=(df.assign(arrival_time = lambda x: df['ar_h'].astype(int)*60*60+df['ar_m'].astype(int)*60+df['ar_s'].astype(int),
                departure_time = lambda x: df['dp_h'].astype(int)*60*60+df['dp_m'].astype(int)*60+df['dp_s'].astype(int))
        .filter(regex = '^((?!ar_).)*$')  # remove intermediate variables
        .filter(regex = '^((?!dp_).)*$'))
    

    return df

In [55]:
stop_times = convert_time_to_sec(filter_stoptimes_by_routes())
stop_times.head()

,index,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled
0,36696,908292,1,7100,0,1,22500,22500,1,E TOWNE: VIA NAKOOSA,0.0092
1,36697,908292,2,7169,0,0,22544,22544,0,E TOWNE: VIA NAKOOSA,0.2630
2,36698,908292,3,9629,0,0,22776,22776,0,E TOWNE: VIA NAKOOSA,1.5965
3,36699,908292,4,9753,0,0,22800,22800,1,E TOWNE: VIA NAKOOSA,1.7287
4,36700,908292,5,9388,0,0,22822,22822,0,E TOWNE: VIA NAKOOSA,1.8701

In [76]:
def get_travel_time(stop_list = [], stop_times = stop_times):
    ### Based on the existing schedule, get the travel time and distance for sequenced two stops, return in a pd dataframe###
    # para: stop_list (a list of existing stop_id)
    #       stop_times (an existing schedule, arrival_times MUST be converted to seconds)
    # return: stop_seq (pd dataframe)
    
    # Create a new df to store outputs
    stop_seq = pd.DataFrame({"upstop_id" : [],
                             "downstop_id":[],
                             "travel_time" : [],
                             "travel_dist" : []})
    
    # for every two sequenced stop_ids in the given stop_list, search for the matching result in stop_times
    for i in range(len(stop_list)-1):
        # get a pair of stop_ids 
        upstop = stop_list[i]
        downstop = stop_list[i+1]

        # search in the existing schedule
        for j in range(len(stop_times)-1):
            if stop_times['stop_id'][j] == upstop:
                if stop_times['stop_id'][j+1] == downstop:
                    if stop_times['stop_sequence'][j+1]-stop_times['stop_sequence'][j] == 1:
                        
                        # get travel time and distance
                        time = stop_times['arrival_time'][j+1]-stop_times['arrival_time'][j]
                        dist = stop_times['shape_dist_traveled'][j+1]-stop_times['shape_dist_traveled'][j]
                        
                        # append to stop_seq the dataframe 
                        row={'upstop_id':upstop,'downstop_id':downstop,'travel_time':time,'travel_dist':dist}
                        stop_seq.loc[i]=row

                        # for every pair (upstop,downstop), once we got a result, move to the next pair
                        break

    return stop_seq

In [78]:
stop_list_test = [9237,9175,9373,9918,9364,9100,9642,9378,9564,9802,9288,1420,1751,1309,1105,7100,7169,7167,7209,7633,9167,9811,9277,9243,9439,9137,9745,9951,9645,9291,9432,9719,9677,9800,9783,9391,9351,9140,9310,9620,9863,9917,9928,9422,9800]
stop_seq = get_travel_time(stop_list_test,stop_times)
stop_seq

    upstop_id  downstop_id  travel_time  travel_dist
0      9237.0       9175.0         33.0       0.1165
1      9175.0       9373.0         68.0       0.2397
2      9373.0       9918.0         43.0       0.1527
3      9918.0       9364.0         70.0       0.2461
4      9364.0       9100.0         86.0       0.2899
5      9100.0       9642.0         63.0       0.2828
6      9642.0       9378.0         53.0       0.2387
7      9378.0       9564.0         21.0       0.0981
8      9564.0       9802.0         23.0       0.1063
9      9802.0       9288.0         57.0       0.2554
10     9288.0       1420.0         84.0       0.3788
11     1420.0       1751.0         40.0       0.1823
12     1751.0       1309.0         34.0       0.1536
13     1309.0       1105.0         33.0       0.1507
14     1105.0       7100.0         72.0       0.3004
15     7100.0       7169.0         44.0       0.2538
16     7169.0       7167.0         42.0       0.2191
17     7167.0       7209.0         59.0       0.3075
18     7209.0       7633.0         23.0       0.1207
19     7633.0       9167.0         36.0       0.1870
20     9167.0       9811.0         32.0       0.1560
21     9811.0       9277.0         53.0       0.2517
22     9277.0       9243.0         43.0       0.2059
23     9243.0       9439.0         27.0       0.1710
24     9439.0       9137.0         19.0       0.1226
25     9137.0       9745.0         29.0       0.1825
26     9745.0       9951.0         22.0       0.1399
27     9951.0       9645.0         22.0       0.1396
28     9645.0       9291.0         34.0       0.2192
29     9291.0       9432.0         45.0       0.2822
30     9432.0       9719.0         57.0       0.3619
31     9719.0       9677.0         50.0       0.3160
32     9677.0       9800.0         30.0       0.1575
33     9800.0       9783.0         17.0       0.0834
34     9783.0       9391.0         37.0       0.1784
35     9391.0       9351.0         35.0       0.1678
36     9351.0       9140.0         54.0       0.2557
37     9140.0       9310.0         38.0       0.1809
38     9310.0       9620.0         59.0       0.2620
39     9620.0       9863.0        103.0       0.3054
40     9863.0       9917.0         79.0       0.2349
41     9917.0       9928.0         40.0       0.1199
42     9928.0       9422.0         50.0       0.1499
43     9422.0       9800.0         88.0       0.2495