# This file contains functions used to generate new schedules when add/remove routes

+ **get_trips_for_routes**
  - From trips.txt, get trip_id for certain routes
+ **filter_stoptimes_by_routes**
  - Keep only rows that are related to certain routes in stop_times.txt
+ **convert_time_to_sec**
  - For arrival_time/departure_time in stop_time.txt, HH:MM:SS -> HH*60*60+MM*60+SS
+ **time_to_sec**
  - For single string time in format "08:00:00", convert to seconds
+ **get_travel_time**
  - Based on the existing schedule, get the travel time and distance for sequenced two stops, return in a pd dataframe
+ **get_total_travel_time**
  - Get total travel time for a new routes based on existing rotues' information
+ **gen_new_schedule**
  - generate a new stop_time like schedule

...
    
## Some settings/configurations

1. **trip_id** for new schedules are 6-digits number starts with doubel 9. ie. "99xxxx"
2.

In [1]:
import pandas as pd

In [2]:
def get_trips_for_routes(routes = [30,34,36]):
    ### GET TRIPS FOR CERTAIN ROUTES ###
    # para: routes in list (float number)
    # return: trip_id mapping with rotue numbers in dictionary
    
    trips_dict = dict() # A dictionary mapping routes with multiple trips
    
    # read trips.txt file, keep only 2 columns of routes_short_name and trip_id
    trips = (pd.read_csv(r"mmt_gtfs/trips.txt", sep = ",", engine = "python")
            [['route_short_name','trip_id']])
    
    # for each routes (30,34,36), select their trips and update into stop_dict
    for r in routes:
        trip_id = trips.loc[trips['route_short_name'] == r,:]
        tp = trip_id["trip_id"].tolist()
        
        trips_dict.update({r:tp})

    return(trips_dict)

In [3]:
def filter_stoptimes_by_routes(routes = [30.,34,36]):
    ### READ stop_times.txt, AND FIILTER WITH CERTIAN ROUTES ###
    # para: routes in a list
    # return: filtered stop_times in pd.dataframe
    # calling function: get_trips_for_routes
    
    # get trips into a list
    tr_dict = get_trips_for_routes(routes)
    
    tr_list = []
    for r,tr in tr_dict.items():
        tr_list += tr
    
    # read stoptimes.txt file
    stop_times = pd.read_csv(r"mmt_gtfs/stop_times.txt", sep = ",", engine = "python")
    # filter by trips under certain routes
    stop_times_filter = stop_times.loc[stop_times['trip_id'].isin(tr_list)].reset_index()

    # return filtered stop_times in dataframe    
    return stop_times_filter

In [4]:
def convert_time_to_sec(stop_times):
    ###Convert str arrival_time/departure_time to int seconds###
    # HH:MM:SS -> HH*60*60+MM*60+SS
    # para: stop_times (a standard GTFS stop_times file)(pd dataframe)
    # return: stop_times with two columns added on
   
    df = stop_times
    
    # split string time into hours, minutes, and seconds
    df[['ar_h','ar_m','ar_s']] = df.arrival_time.str.split(':',expand=True)
    df[['dp_h','dp_m','dp_s']] = df.departure_time.str.split(':',expand=True)

    # compute time into seconds
    df=(df.assign(arrival_time = lambda x: df['ar_h'].astype(int)*60*60+df['ar_m'].astype(int)*60+df['ar_s'].astype(int),
                departure_time = lambda x: df['dp_h'].astype(int)*60*60+df['dp_m'].astype(int)*60+df['dp_s'].astype(int))
        .filter(regex = '^((?!ar_).)*$')  # remove intermediate variables
        .filter(regex = '^((?!dp_).)*$'))
    

    return df


def convert_time_to_str(stop_times_sec):
    
    ### Incomplete Function...###
    
    #FIXEME: intend to be the invert function of convert_time_to_sec
    
    df = stop_times
    df = df.assign(ar_h = lambda x: df['arrival_time']//3600,
                    ar_m = lambda x: df['arrival_time']%3600//60,
                    ar_s = lambda x: df['arrival_time']%3600%60,
                  dp_h = lambda x: df['departure_time']//3600,
                    dp_m = lambda x: df['departure_time']%3600//60,
                    dp_s = lambda x: df['departure_time']%3600%60)
    
def time_to_sec(time = '8:00:00'):
    
    ### Convert single string time into int seconds ###
    # HH:MM:SS -> HH*60*60+MM*60+SS
    # para: time 'HH:MM:SS'
    # return: time in seconds
    
    t_sec = int(time[0:-6])*60*60 + int(time[-5:-3])*60 + int(time[-2:-1])
    
    return t_sec

In [5]:
def get_travel_time(stop_list, stop_times):
    ### Based on the existing schedule, get the travel time and distance for sequenced two stops, return in a pd dataframe###
    # para: stop_list (a list of existing stop_id)
    #       stop_times (an existing schedule, arrival_times MUST BE CONVERTED TO SECONDS)
    # return: stop_seq (pd dataframe)
    
    # Create a new df to store outputs
    stop_seq = pd.DataFrame({"upstop_id" : [],
                             "downstop_id":[],
                             "travel_time" : [],
                             "travel_dist" : []})
    
    # for every two sequenced stop_ids in the given stop_list, search for the matching result in stop_times
    for i in range(len(stop_list)-1):
        # get a pair of stop_ids 
        upstop = stop_list[i]
        downstop = stop_list[i+1]

        # search in the existing schedule
        for j in range(len(stop_times)-1):
            if stop_times['stop_id'][j] == upstop:
                if stop_times['stop_id'][j+1] == downstop:
                    if stop_times['stop_sequence'][j+1]-stop_times['stop_sequence'][j] == 1:
                        
                        # get travel time and distance
                        time = stop_times['arrival_time'][j+1]-stop_times['arrival_time'][j]
                        dist = stop_times['shape_dist_traveled'][j+1]-stop_times['shape_dist_traveled'][j]
                        
                        # append to stop_seq the dataframe 
                        row={'upstop_id':upstop,'downstop_id':downstop,'travel_time':time,'travel_dist':dist}
                        stop_seq.loc[i]=row

                        # for every pair (upstop,downstop), once we got a result, move to the next pair
                        break

    return stop_seq

def get_total_travel_time(stop_seq):
    
    total_travel_time = sum(stop_seq.travel_time)
    total_travel_dist = sum(stop_seq.travel_dist)
    
    return total_travel_time, total_travel_dis

In [6]:
def get_available_tripid(stop_times):
    
    a = stop_times.max().trip_id
    if a >= 990000:
        b = a+1
    else:
        b = 990000
    
    return b

def gen_new_schedule(stop_list = [],
                     first_departure_time = '8:00:00',
                     last_departure_time = '18:00:00',
                     interval_time = 60, 
                     stop_seq = pd.DataFrame(),
                     stop_times_path = "mmt_gtfs/stop_times.txt"):
   
    # read old stop_time file (to get available trip_id)
    stop_times_old = pd.read_csv(stop_times_path, sep = ",", engine = "python")

    # convert time to second
    f_t = time_to_sec(first_departure_time)
    l_t = time_to_sec(last_departure_time)
    i_t = interval_time * 60

    # do the math
    stop_num = len(stop_list) # total stops per trip
    trip_num = int((l_t-f_t)/i_t) # total trips per day
    tr_id_1 = get_available_tripid(stop_times_old) # get the first available trip_id (avoid duplication)

    # create an empty dataframe 
    st_tm = pd.DataFrame({'trip_id':[],
                          'stop_sequence':[],
                          'stop_id':[],
                          'pickup_type':[],
                          'drop_off_type':[],
                          'arrival_time':[],
                          'departure_time':[],
                          'timepoint':[],
                          'stop_headsign':[],
                          'shape_dist_traveled':[]})

    for i in range(trip_num):

        tr_id = tr_id_1 + i # trip_id

        # get baseline for travel time/distance
        time_base = f_t + i * i_t
        dist_base = 0

        for j,st in enumerate(stop_list):


            # get arrival time and distance. if the stop is the first stop, travel_time/dist = 0
            if j == 0:
                travel_time = 0
                travel_dist = 0
            else:
                up_st = stop_list[j-1]
                travel_time = stop_seq.loc[stop_seq['downstop_id']==st,:].loc[stop_seq['upstop_id']==up_st,:].reset_index().at[0,'travel_time']
                travel_dist = stop_seq.loc[stop_seq['downstop_id']==st,:].loc[stop_seq['upstop_id']==up_st,:].reset_index().at[0,'travel_dist']
            
            time_base += travel_time 
            dist_base += travel_dist

            # assign pickup_type/drop_off_type
            pk_type = 0 # regularly scheduled pickup
            dr_type = 0 # regularly scheduled drop off
            if j == 0:
                dr_type = 1 # drop_off_type = 'no available' for the first station
            elif j == stop_num-1:
                pk_type = 1 # pickup_type = 'no available' for the final station


            # append to the new schedule st_tm 
            row = {'trip_id':tr_id,
                   'stop_sequence':j+1,
                   'stop_id':st,
                   'pickup_type':pk_type,
                   'drop_off_type':dr_type,
                   'arrival_time':time_base,
                   'departure_time':time_base,
                   'timepoint':0, # all default as 0, since we don't care timepoint for now
                   'stop_headsign':'IM A NEW ROUTE', # default, means nothing for us for now
                   'shape_dist_traveled':dist_base}
            st_tm.loc[i*stop_num+j]=row


    return st_tm

In [7]:
def add_route_stoptimes(stop_list = [],
              first_departure_time = '8:00:00',
              last_departure_time = '18:00:00',
              interval_time = 60, 
              stop_times_path = "",
              stop_seq = "auto"):
    
    stop_times_old = convert_time_to_sec(pd.read_csv(stop_times_path, sep = ",", engine = "python"))
    
    if stop_seq = "auto":
        stop_seq = get_travel_time(stop_list,stop_times_old)
    else:
        #FIXME: read stop_seq from file/typein
    
    st_tm = gen_new_schedule(stop_list = stop_list,
                     first_departure_time = first_departure_time,
                     last_departure_time = last_departure_time,
                     interval_time = interval_time, 
                     stop_seq = stop_seq,
                     stop_times_path = stop_times_path)
    
    stop_times_updated = pd.merge(stop_times_old,st_tm, how = 'outer')
    
    return stop_times_updated

In [42]:
def remove_route_stoptimes(routes_to_remove = [30,34,36],
                           stop_times_path = "mmt_gtfs/stop_times.txt"):
    
    # read existing stop_times.txt
    stop_times_old = pd.read_csv(stop_times_path, sep = ",", engine = "python")
    
    # get trip_id of routes, put trip_id in a list
    trip_dict = get_trips_for_routes(routes_to_remove)
    trip_list = []
    for tr in trip_dict.values():
        trip_list+=tr
    
    # remove trips from stop_times schedule
    df = stop_times_old[~stop_times_old.trip_id.isin(trip_list)]
    
    # convert time to second 
    ## (not necessary for this function. just want to keep the same mode)
    df_sec = convert_time_to_sec(df)
    
    return df_sec

In [8]:
stop_times_filter = convert_time_to_sec(filter_stoptimes_by_routes(routes = [30,34,36]))
stop_times_filter.head()

,index,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled
0,36696,908292,1,7100,0,1,22500,22500,1,E TOWNE: VIA NAKOOSA,0.0092
1,36697,908292,2,7169,0,0,22544,22544,0,E TOWNE: VIA NAKOOSA,0.2630
2,36698,908292,3,9629,0,0,22776,22776,0,E TOWNE: VIA NAKOOSA,1.5965
3,36699,908292,4,9753,0,0,22800,22800,1,E TOWNE: VIA NAKOOSA,1.7287
4,36700,908292,5,9388,0,0,22822,22822,0,E TOWNE: VIA NAKOOSA,1.8701

In [24]:
stop_list_test = [9237,9175,9373,9918,9364,9100,9642,9378,9564,9802,9288,1420,1751,1309,1105,7100,7169,7167,7209,7633,9167,9811,9277,9243,9439,9137,9745,9951,9645,9291,9432,9719,9677,9800,9783,9391,9351,9140,9310,9620,9863,9917,9928,9422,9800]
stop_seq = get_travel_time(stop_list_test,stop_times=stop_times_filter)
stop_seq.head()

   upstop_id  downstop_id  travel_time  travel_dist
0     9237.0       9175.0         33.0       0.1165
1     9175.0       9373.0         68.0       0.2397
2     9373.0       9918.0         43.0       0.1527
3     9918.0       9364.0         70.0       0.2461
4     9364.0       9100.0         86.0       0.2899

In [39]:
# input data
stop_list_test = [9237,9175,9373,9918,9364,9100,9642,9378,9564,9802,9288,1420,1751,1309,1105,7100,7169,7167,7209,7633,9167,9811,9277,9243,9439,9137,9745,9951,9645,9291,9432,9719,9677,9800,9783,9391,9351,9140,9310,9620,9863,9917,9928,9422,9800]
start_time = '8:00:00'
end_time = '18:00:00'
interval_time = 60 # minutes

# test function
new_stop_times = gen_new_schedule(stop_list = stop_list_test,
                                 first_departure_time = start_time,
                                 last_departure_time = end_time,
                                 interval_time = 90,
                                 stop_seq = stop_seq,
                                 stop_times_path = "mmt_gtfs/stop_times.txt")
new_stop_times.head()

,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled
0,990000.0,1.0,9237.0,0.0,1.0,28800.0,28800.0,0.0,IM A NEW ROUTE,0.0000
1,990000.0,2.0,9175.0,0.0,0.0,28833.0,28833.0,0.0,IM A NEW ROUTE,0.1165
2,990000.0,3.0,9373.0,0.0,0.0,28901.0,28901.0,0.0,IM A NEW ROUTE,0.3562
3,990000.0,4.0,9918.0,0.0,0.0,28944.0,28944.0,0.0,IM A NEW ROUTE,0.5089
4,990000.0,5.0,9364.0,0.0,0.0,29014.0,29014.0,0.0,IM A NEW ROUTE,0.7550

In [44]:
# input data
stop_list_test = [9237,9175,9373,9918,9364,9100,9642,9378,9564,9802,9288,1420,1751,1309,1105,7100,7169,7167,7209,7633,9167,9811,9277,9243,9439,9137,9745,9951,9645,9291,9432,9719,9677,9800,9783,9391,9351,9140,9310,9620,9863,9917,9928,9422,9800]
start_time = '8:00:00'
end_time = '18:00:00'
interval_time = 60 # minutes

# test function
updated_stop_times = add_route_stoptimes(stop_list = stop_list_test,
                                 first_departure_time = start_time,
                                 last_departure_time = end_time,
                                 interval_time = 90,
                                 stop_times_path = "mmt_gtfs/stop_times.txt")
updated_stop_times.tail(15)

,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled
533605,990005,31,9432,0,0,56996,56996,0,IM A NEW ROUTE,6.1507
533606,990005,32,9719,0,0,57053,57053,0,IM A NEW ROUTE,6.5126
533607,990005,33,9677,0,0,57122,57122,0,IM A NEW ROUTE,6.8287
533608,990005,34,9800,0,0,57163,57163,0,IM A NEW ROUTE,6.9863
533609,990005,35,9783,0,0,57179,57179,0,IM A NEW ROUTE,7.0697
533610,990005,36,9391,0,0,57213,57213,0,IM A NEW ROUTE,7.2481
533611,990005,37,9351,0,0,57245,57245,0,IM A NEW ROUTE,7.4159
533612,990005,38,9140,0,0,57299,57299,0,IM A NEW ROUTE,7.6716
533613,990005,39,9310,0,0,57337,57337,0,IM A NEW ROUTE,7.8525
533614,990005,40,9620,0,0,57396,57396,0,IM A NEW ROUTE,8.1145
533615,990005,41,9863,0,0,57499,57499,0,IM A NEW ROUTE,8.4199
533616,990005,42,9917,0,0,57578,57578,0,IM A NEW ROUTE,8.6548
533617,990005,43,9928,0,0,57618,57618,0,IM A NEW ROUTE,8.7747
533618,990005,44,9422,0,0,57645,57645,0,IM A NEW ROUTE,8.9246
533619,990005,45,9800,1,0,57696,57696,0,IM A NEW ROUTE,9.1741

In [43]:
# test remove routes
updated_stop_times2 = remove_route_stoptimes(routes_to_remove = [1,2,3,4,5,6,7,8,9])
updated_stop_times2.head(15)

,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled
24242,906456,1,133,0,1,55500,55500,1,CAPITOL SQUARE-DUTCH MILL,0.0390
24243,906456,2,809,0,0,55554,55554,0,CAPITOL SQUARE-DUTCH MILL,0.1548
24244,906456,3,581,0,0,55680,55680,1,CAPITOL SQUARE-DUTCH MILL,0.4187
24245,906456,4,741,0,0,55720,55720,0,CAPITOL SQUARE-DUTCH MILL,0.5014
24246,906456,5,455,0,0,55821,55821,0,CAPITOL SQUARE-DUTCH MILL,0.7114
24247,906456,6,435,0,0,55894,55894,0,CAPITOL SQUARE-DUTCH MILL,0.8631
24248,906456,7,941,0,0,55933,55933,0,CAPITOL SQUARE-DUTCH MILL,0.9439
24249,906456,8,839,0,0,56053,56053,0,CAPITOL SQUARE-DUTCH MILL,1.1925
24250,906456,9,883,0,0,56146,56146,0,CAPITOL SQUARE-DUTCH MILL,1.3864
24251,906456,10,1324,0,0,56201,56201,0,CAPITOL SQUARE-DUTCH MILL,1.5020
24252,906456,11,1101,0,0,56280,56280,1,DUTCH MILL,1.6569
24253,906456,12,1872,0,0,56312,56312,0,DUTCH MILL,1.8068
24254,906456,13,248,0,0,56334,56334,0,DUTCH MILL,1.9109
24255,906456,14,564,0,0,56360,56360,0,DUTCH MILL,2.0335
24256,906456,15,668,0,0,56380,56380,0,DUTCH MILL,2.1267